body {
  background-color: #c44444;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: white;
}
.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 6rem;
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 208, 0);
  text-shadow: -10px 0 rgb(0, 21, 212), 0 10px rgb(0, 21, 212),
    10px 0 rgb(0, 21, 212), 0 -10px rgb(0, 21, 212);
}

.card {
  list-style: none;
  padding: 40px;
  background: rgb(253, 255, 203);
  background: radial-gradient(
    circle,
    rgb(253, 255, 203) 1%,
    rgb(184, 191, 255) 90%
  );
  color: #222;
  text-align: center;
  border: 5px solid black;
  box-shadow: 3px 3px 10px black;
  border-radius: 20px;
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}
.card-image {
  height: 180px;
}
#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 20px;
}
.card:hover {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}

footer {
  
  margin: 0;
  background-color: rgb(172, 63, 44);
  text-align: center;
  height: 4rem;
  padding: 0;
  display: table;
  width: 100%;
  color: rgb(255, 208, 0);
  text-shadow: -2px 0 rgb(0, 21, 212), 0 2px rgb(0, 21, 212),
    2px 0 rgb(0, 21, 212), 0 -2px rgb(0, 21, 212);
  font-size: 2rem;
}
